<h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
<div class="form-group">
    <mat-form-field>
        <input matInput formControlName="username"  placeholder="username"  class="form-control">
        <mat-error *ngIf="loginForm.controls.username.invalid && (loginForm.controls.username.dirty || loginForm.controls.username.touched)">Username is required.</mat-error>
    </mat-form-field>
</div>
<div class="form-group">
    <mat-form-field>
        <input matInput formControlName="password" placeholder="password"  class="form-control" >
        <mat-error *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)">Password is required.</mat-error>
    </mat-form-field>
</div>
<div class="form-group">
  <button mat-flat-button color="primary" [disabled]="loading">Login</button>
  <a style="float:right;" mat-flat-button color="warn" [routerLink]="['/register']">Register</a>
</div>
</form>
