<h2>Add</h2>
<mat-dialog-content>
    <form [formGroup]="addForm" fxLayout="column">
        <div>
            <mat-form-field>
                <input matInput formControlName="name"  placeholder="name"  class="form-control">
                <mat-error *ngIf="addForm.controls.name.invalid && (addForm.controls.name.dirty || addForm.controls.name.touched)">Username is required.</mat-error>
            </mat-form-field>
        </div>
</form>
<mat-dialog-content>
<mat-dialog-actions align="end">
    <div>
        <button mat-button mat-dialog-close>Vissza</button>
        <button mat-flat-button color="primary" (click)="addProduct()">Mentés</button>
    </div>
</mat-dialog-actions>