<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <mat-form-field>
            <input matInput formControlName="username"  placeholder="Username"  class="form-control">
            <mat-error *ngIf="registerForm.controls.username.invalid && (registerForm.controls.username.dirty || registerForm.controls.username.touched)">Username is required.</mat-error>
        </mat-form-field>
    </div>
    <mat-form-field>
        <input matInput type="password" formControlName="password"  placeholder="Password"  class="form-control">
        <mat-error *ngIf="registerForm.controls.password.invalid && (registerForm.controls.password.dirty || registerForm.controls.password.touched)">Password is required.</mat-error>
    </mat-form-field>
    <div class="form-group">
        <div>
            <button mat-button mat-dialog-close>Vissza</button>
            <button mat-flat-button color="primary" (click)="register()">Register</button>
        </div>
    </div>
</form>
