<h2>Add</h2>
<mat-dialog-content>
    <form [formGroup]="addForm" fxLayout="column">
        <div>
            <ngbd-rating-basic [rating]="review.stars" [readonly]="false"></ngbd-rating-basic>
        </div>
        <mat-form-field>
            <input matInput type="text" formControlName="text"  placeholder="text"  class="form-control">
            <mat-error *ngIf="addForm.controls.text.invalid && (addForm.controls.text.dirty || addForm.controls.text.touched)">text is required.</mat-error>
    </mat-form-field>
</form> 
<mat-dialog-content>
<mat-dialog-actions align="end">
    <div>
        <button mat-button mat-dialog-close>Vissza</button>
        <button mat-flat-button color="primary" (click)="addReview()">Mentés</button>
    </div>
</mat-dialog-actions>