<input type="text" [(ngModel)]="filter" (input)="debouncer$.next($event.target.value)" /><br />
Filter: {{ filter }} <br />

<a routerLink="/products/new">new</a>

<div class="table-container">
  <div class="table-loading-indicator" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="stars">
        <th mat-header-cell *matHeaderCellDef>stars</th>
        <td mat-cell *matCellDef="let element"> <ngbd-rating-basic [rating]="element.avgRating"></ngbd-rating-basic></td>
      
    </ng-container>
    <!-- Position Column -->
    <ng-container matColumnDef="buttons">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"><a [routerLink]="['/products', element.id]">details</a></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>
<style>
  .mat-cell.cdk-column-buttons.mat-column-buttons{
    text-align: right;
  }
</style>
