<div *ngIf="product; else loading">
    <p><strong>Product:</strong> {{ product.name }}</p>
    <p><strong>Reviews:</strong></p>
    <div *ngFor="let review of reviews">
            <p>{{ review.text }}</p>
           <ngbd-rating-basic [rating]="review.stars" [readonly]="true"></ngbd-rating-basic>
            <button mat-raised-button color="primary" (click)="editItem(review.id)">Edit review</button>
    </div>
</div>
<ng-template #loading>
    <mat-spinner></mat-spinner>
</ng-template>
<button mat-raised-button color="primary" (click)="addItem()">New review</button>

<a routerLink="/products">back to the list</a>

