<mat-action-list class="back">
    <div *ngIf="isAuthenticated$ | async; else loggedOut">
        <h4 mat-subheader>Hello {{ user.username }}!</h4>
        <button mat-list-item (click)="logout()"> Logout </button>
        <mat-divider></mat-divider>
    </div>
    <ng-template #loggedOut>
        <button mat-list-item (click)="openLogin()"> Login </button>
    </ng-template>

    <h4 mat-subheader>Menu</h4>
    <button mat-list-item routerLink="/"> Main page </button>
    <button mat-list-item routerLink="/products"> Products </button>
</mat-action-list>
